.b-call {
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #90C3D4;
    min-height: 260px;
    &__title,
    &__call-form {
        line-height: 60px;
        vertical-align: middle;
        div {
            line-height: 30px;
        }
    }
    &__title,
    &__phone {
        font-size: 30px;
    }
    &__get-phone,
    &__call-submit {
        width: 30%;
        display: inline-block;
    }
    &__get-phone {
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 5px;
        line-height: 30px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    }
    &__call-submit {
        background-color: #0077b3;
        padding: 0 35px;
        margin: 10px 10px 0;
    }
}