.b-call {
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #90C3D4;
    min-height: 260px;
    &__title,
    &__call-form {
        line-height: 60px;
        vertical-align: middle;
        div {
            line-height: 30px;
        }
    }
    &__title,
    &__phone {
        font-size: 30px;
    }
    &__get-phone,
    &__call-submit {
        box-sizing: border-box;
        width: 30%;
        display: inline-block;
        font-family: sans-serif;
        font-size: 16px;
        
    }
    &__get-phone {
        border-radius: 5px;
        padding: 10px 15px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    }
    &__call-submit {
        background-color: #0077b3;
        padding: 10px 35px;
        margin: 10px 10px 0;
        color: #f9f9f9;
    }
}

/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media all and (min-width: 300px) {

    .b-call{
        box-sizing: border-box;
        width: 100%;
        &__get-phone,
        &__call-submit {
            width: 70%;
            display: block;
            margin: 10px auto;
        }
    }
}


/* Extra Small Devices, Phones */

@media all and (min-width: 480px) {

}


/* Small Devices, Tablets */

@media all and (min-width: 768px) {

    .b-call {
        width: 700px;
        min-height: 200px;
        &__get-phone,
        &__call-submit {
            width: 30%;
            display: inline-block;
            margin: 10px;
        }
    }
}


/* Medium Devices, Desktops */

@media all and (min-width: 992px) {

    .b-call{
        width: 968px;
    }
}


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {
    .b-call,{
        width: 1100px;
        min-height: 190px;
    }
}