// @import 'common.scss';
.b-examples {
    box-sizing: border-box;
    text-align: center;
    background-color: #fafafa;
    &__title {
        margin: 20px 0 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__blocks {
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height: 350px;
        text-align: left;
        cursor: default;
    }
    &__button {
        margin-top: 25px;
    }
}

.b-example-block {
    &__title {
        padding: 10px;
        color: #333;
        text-decoration: none;
        display: block;
        text-align: center;
        div {
            padding: 5px 15px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
            background: #ffd941;
            color: #000;
        }
    }
    &__title:hover {
        cursor: auto;
        color: #2387b5;
        text-transform: underline;
    }
    &__foto {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        z-index: 4;
        cursor: pointer;
        background-size: cover;
        border-radius: 3px;
    }
    &__foto-cell {
        display: table-cell;
        margin: 0 1px;
        height: 280px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media all and (min-width: 320px) {
    .b-examples {
        width: 100%;
        &__blocks {
            width: 100%;
            margin-bottom: 20px
        }
    }
}


/* Extra Small Devices, Phones */

@media all and (min-width: 480px) {
    .b-examples {
        width: 70%;
        &__blocks {
            width: 100%;
        }
    }
}


/* Small Devices, Tablets */

@media all and (min-width: 768px) {
    .b-examples {
        width: 700px;
        &__content {
            flex-flow: row wrap;
        }
        &__blocks {
            width: 47%;
        }
    }
}


/* Medium Devices, Desktops */

@media all and (min-width: 992px) {
    .b-examples {
        width: 968px;
    }
}


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {
    .b-examples {
        width: 1100px;
    }
}