// @import 'common.scss';

.b-examples{
    box-sizing: border-box;
    padding: 38px 0px 42px 0;
    text-align: center;
    background-color: #fafafa;

    &__title{
        margin: -10px 0 20px 0;
    }

    .b-examples__blocks{
        overflow: hidden;
        position: relative;
        display: inline-block;

        padding: 20px;
        margin:5px;
        width: 460px;
        height: 330px;
        background: #fff;
        text-align: left;
        border-radius: 5px;
        
        cursor: default;
        
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    }

    &__button{
        margin-top: 40px;
    }

}

.b-example-block{
    
    &__title{
        color: #333;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    &__title:hover{
        cursor: auto;
        color: #2387b5;
        text-transform: underline;
    }

    &__foto{
        position: absolute;
        display: table;
        table-layout: fixed;
        width: 90%;

        z-index: 4;
        cursor: pointer;
        background-size: cover;
        border-radius: 3px;
    }

    &__foto-cell{
        display: table-cell;
        margin: 0 1px;
        height: 264px;
    }
}

    