// @import 'common.scss';

/*----- fixture -----*/

.b-fixture {
    text-align: center;
    &__fixture-element {
        position: relative;
        border-radius: 5px;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }
    &__img {
        width: 100%;
        height: 200px;
        cursor: pointer;
        border-radius: 3px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__cost {
        min-width: 50px;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        background: #ffd941;
        color: #000;
        &_sale {
            background: #ff4141;
            color: #fff;
            span {
                text-decoration: line-through;
                vertical-align: super;
                font-size: 12px;
            }
            &-top {
                position: absolute;
                top: 30px;
                left: 30px;
                opacity: 0.9;
                background: #ff4141;
                color: #fff;
            }
        }
    }
    &__calculation {
        margin: 0px;
        float: right;
        padding: 5px 10px;
    }
    &__fixture {
        display: none;
    }
    &__fixture_active {
        display: block;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media all and (min-width: 300px) {
    .b-fixture {
        &__fixture-element {
            display: block;
            margin: auto;
            float: none;
            width: 80%;
        }
        &__img {
            height: 250px;
        }
        &__wrapper {
            min-height: 70px;
            padding: 5px;
        }
    }
}


/* Extra Small Devices, Phones */

@media all and (min-width: 480px) {
    .b-fixture {
        &__fixture-element {
            float: left;
            width: 45%;
            margin: 1%;
        }
        &__img {
            height: 250px;
        }
    }
}


/* Small Devices, fixturelets */

@media all and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media all and (min-width: 992px) {
    .b-fixture {
        &__fixture-element {
            width: 31%;
        }
        &__img {
            height: 250px;
        }
    }
}


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {}