// @import 'common.scss';

.b-footer{
    background: #6e767d;
    color: #fff;
    font-weight: 300;

    &__left{
        margin: 30px;
        float: left;
    }

    &__right{
        margin: 30px;
        float: right;
    }

    &__contact{
        font-size: 25px;
    }

    &__phone-title{
        font-size: 20px;
    }

    &__social{

        margin-bottom: 30px;

        span{
            font-size: 20px;
            display: block;
            float: left;
            margin: 4px 50px 0 0;
        }
    }
}

%social-base{
    display: inline-block;
    background: url(images/icon/socials_sprite.png) no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.b-social{
    display: inline;
    margin-left: 20px;

    &__vk{
        @extend %social-base;
        background-position: -26px 0;
    }
    &__instagram{
        @extend %social-base;
        background-position: -130px 0;
    }
    &__facebook{
        @extend %social-base;
        background-position: -52px 0;
    }
    &__twitter{
        @extend %social-base;
        background-position: -78px 0;
    }
}
    