/*
    Footer block
*/

.b-footer {
    position: absolute;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: stretch;

    background: #6e767d;
    color: #fff;
    font-weight: 300;

    box-sizing: border-box;

    &__contant{
        margin: auto;
        padding: 5%;

        text-align: center;

        div{
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
    &__contact span {
        display: block;
        font-size: 18px;
        letter-spacing: 1.2px; 
    }
    &__social {
        flex: 1;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        a {
            color: #fff;
        }

        .fa {
            font-size: 27px;
        }
    }
    &__adress{
        flex: 3;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media all and (min-width: 300px) {
    .b-footer{
        width: 100%;        
    }
}


/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
    
}


/* Small Devices, Tablets */
@media all and (min-width: 768px) {
    .b-footer{
        &__contant{
            width: 700px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}


/* Medium Devices, Desktops */

@media all and (min-width: 992px) {
    .b-footer__contant{
        width: 968px;
    }
}


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {
    .b-footer__contant{
        width: 1100px;
    }
}