/*
    Footer block
*/

.b-footer {
    position: absolute;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: stretch;

    background: #6e767d;
    color: #fff;
    font-weight: 300;

    &__contant{
        display: inline-block;
        margin: auto;
        min-height: 200px;
        padding: 5%;
    }
    &__contact span {
        font-size: 25px;
        display: block;
    }
    &__social {
        flex: 1;

        display: flex;
        flex-wrap: wrap;

        .fa {
            font-size: 25px;
            flex: 1;
        }
    }
    &__rb{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}