// @import 'common.scss';

/*----- Tabs -----*/

.b-invoices {
    box-sizing: border-box;
    text-align: center;
    padding: 38px 0 48px 0;
    /*----- Tab Links -----*/
    &__links li {
        margin: 0px 5px;
        display: inline-block;
        list-style: none;
    }
    &__links a {
        padding: 9px 15px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        text-decoration: none !important;
    }
    &__link_active a,
    &__links a:hover {
        color: #0077b3 !important;
        cursor: default;
        font-weight: 600;
    }
    /*----- Content of Tabs -----*/
    &__content {
        padding: 10px;
    }
    &__tab-element {
        position: relative;
        display: inline-block;
        width: 27%;
        margin-right: 2%;
        border-radius: 5px;
        min-width: 300px;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2),
                    1px 1px 3px rgba(0, 0, 0, 0.2);
        &:last-child {
            margin-right: auto;
        }
    }
    &__img {
        width: 90%;
        height: 200px;
        margin: 5%;
        cursor: pointer;
        border-radius: 3px;
    }
    &__title {
        float: left;
        text-align: left;
        margin-left: 5%;
    }
    &__wrapper {
        margin: 10px;
    }
    &__cost {
        float: right;
        padding: 5px 15px;
        min-width: 100px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        background: #ffd941;
        color: #000;
    }
    &__calculation {
        margin: 0px;
        float: right;
        padding: 5px 10px;
    }
    &__tab {
        margin: 0px;
        display: none;
    }
    &__tab_active {
        display: block;
    }
}