/********/
/* Menu */
/********/
.b-menu{
    border-bottom: solid 1px #f0f0f0;
    color: #333;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);

    &__item{
        position: relative;
        padding: 20px;
        text-align: left;
        min-height: 140px;

        &-img {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 70px;
            height: 86px;
            float: left;
        }

        &__title,
        &__content{
            display: block;
            margin-left: 100px;
            letter-spacing: -0.3px;
        }

        &__title{
            font-size: 22px;
            font-weight: 500;
        }

        &__content{
            color: #2387b5;
            text-decoration: none;
            text-transform: lowercase;
            min-height: 50px;
            font-size: 15px;
        }

        &__content:hover{  
            text-decoration: underline;
        }


        /* Choice img from sprite */

        &__type-of-calculation{
            background: url('img/b-menu/calculations.png') no-repeat;
            background-size: 70px 80px;
        }
        &__reviews{
            background: url('img/b-menu/review.png') no-repeat;
            background-size: 70px 80px;
        }
        &__sales{
            background: url('img/b-menu/sales.png') no-repeat;
            background-size: 65px 76px;
        }
        &__examples{
            background: url('img/b-menu/examples.png') no-repeat;
            background-size: 70px 65px;
        }
        &__technologies{
            background: url('img/b-menu/technologies.png') no-repeat;
            background-size: 70px 70px;
        }
        &__invoices{
            background: url('img/b-menu/invoices.png') no-repeat;
            background-size: 70px 86px;
        }
    }
}