@import 'common.scss';

/******************/
/* Блок навигации */
/******************/


.b-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row-reverse nowrap;
	color: #0077b3;
	margin: auto;
	
	.fa{	
		font-size: 35px;
		color: #0077b3;
		padding: 0 10px;
	}

	&__logo {
		display: inline-block;
		background: url('img/main/logo.png') no-repeat;
		background-size: 100% 100%;
		width: 150px;
		height: 40px;
		order: 1;
	}
	&__icon {
		display: inline-block;
		background: url('img/icon/main_sprite.png') no-repeat;
	}
	&__icity {
		background-position: -25px 0px;
		width: 14px;
		height: 16px;
	}
	&__idown {
		background-position: -11px -7px;
		width: 9px;
		height: 6px;
	}
	&__imail {
		background-position: -128px -87px;
		width: 26px;
		height: 20px;
		margin: 0 30px 5px 0;
	}
	/********************************/
	/* Блок навигации(правая часть) */
	/********************************/
	&__list_right {
		float: right;
		margin-right: 20px;
	}
	&__icon-phone {
		width: 12px;
		height: 17px;
		background-position: -61px -23px;
	}
	&__icon-clock {
		width: 16px;
		height: 16px;
		background-position: -125px -51px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media all and (min-width: 320px) {

    .b-navbar {
		position: relative;

        box-sizing: border-box;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        &__text {
            font-size: $mblFontSize;
        }

        &__item{
            display: none;

			.b-navbar__info{
				display: none;
			}
        }
    }

}


/* Extra Small Devices, Phones */

@media all and (min-width: 480px) {
	.b-navbar{
		.fa{
			display: none;
		}
    }

}


/* Small Devices, Tablets */

@media all and (min-width: 768px) {
    .b-navbar{
        width: 700px;
    }

}


/* Medium Devices, Desktops */

@media all and (min-width: 992px) {

    .b-navbar {
        width: 968px;
		flex-direction: row-reverse;
        &__item{
            display: block;

			.fa-info{
				display: inline-block;
			}
			
			.fa-info:hover .b-navbar__info{
				display: block;
			}
        }

    }

}


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {

    .b-navbar{
        width: 1100px;
    }

}