// @import 'common.scss';

/*----- Tabs -----*/

.b-tab {
    
    /*----- Tab Links -----*/
    &__content{
        text-align: center;
    }
    &__links li {
        margin: 0px 5px;
        display: inline-block;
        list-style: none;
    }
    &__links a {
        padding: 9px 15px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        text-decoration: none !important;
    }
    &__link_active a,
    &__links a:hover {
        color: #0077b3 !important;
        cursor: default;
        font-weight: 600;
    }
    /*----- Content of Tabs -----*/

    &__detail{
        position:  absolute;
        left: 0;
        top: 0;

        

        width: 100%;
        height: 200px;
        cursor: pointer;
        border-radius: 3px;
    }

    &__tab-element {
        position: relative;
        
        border-radius: 5px;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2),
                    1px 1px 3px rgba(0, 0, 0, 0.2);

        margin-bottom: 10px;
    }
    &__img {
        position:  relative;
        left: 0;
        top: 0;

        width: 100%;
        height: 200px;
        cursor: pointer;
        border-radius: 3px;
        z-index: 1;
    }
    &__title {
        margin-left: 5%;
    }
    &__wrapper {
        margin: 0 10px;
        padding: 5px;
    }
    &__cost {
        float: left;
        padding: 5px 15px;
        min-width: 100px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        background: #ffd941;
        color: #000;
        &_sale {
            background: #ff4141;
            color: #fff;
            span {
                text-decoration: line-through;
                vertical-align: super;
                font-size: 12px;
            }
            &-top {
                position: absolute;
                top: 30px;
                left: 30px;
                opacity: 0.9;
                background: #ff4141;
                color: #fff;
            }
        }
    }
    &__calculation {
        margin: 0px;
        float: right;
        padding: 5px 10px;
        color: #696969;
    }
    &__tab {
        display: none;
    }
    &__tab_active {
        display: block;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media all and (min-width: 320px) {

    .b-tab{
        &__tab-element{
            display: block;
            margin: auto;
            float: none;
            width:80%;
        }
        &__img {
            height: 250px;
        }
    }

}


/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
    .b-tab{
        &__tab-element{
            float: left;
            width:45%;
            margin: 1%;
        }
        &__img {
            height: 250px;
        }
    }
}

/* Small Devices, Tablets */
@media all and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
    .b-tab{
        &__tab-element{
            width: 31%;
        }
        &__img {
            height: 250px;
        }
    }
}

/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {

}