// @import 'common.scss';

/*----- Tabs -----*/

.b-tab {
    /*----- Tab Links -----*/
    &__content {
        text-align: center;
    }
    &__links li {
        margin: 0px 5px;
        display: inline-block;
        list-style: none;
    }
    &__links a {
        padding: 9px 15px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        text-decoration: none !important;
    }
    &__link_active a,
    &__links a:hover {
        color: #0077b3 !important;
        cursor: default;
        font-weight: 600;
    }
    /*----- Content of Tabs -----*/
    &__tab-element {
        position: relative;
        border-radius: 5px;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }
    &__detail,
    &__img {
        left: 0;
        top: 0;
        width: 100%;
        height: 250px;
        cursor: pointer;
        border-radius: 3px;
    }
    &__detail {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        position: absolute;
        z-index: 1;
        &--hidden {
            display: none;
        }
        &-pongs {
            position: absolute;
            z-index: 2;
            right: 10px;
            top: 10px;
            width: 65px;
            height: 30px;
            background: url('img/main/amount/pongs.jpg') no-repeat;
            background-size: 100% 100%;
            border-radius: 3px;
            &--hidden {
                display: none;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__cost {
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        background: #ffd941;
        color: #000;
        border: 1px solid #696969;
        &_sale {
            background: #ff4141;
            color: #fff;
            span {
                text-decoration: line-through;
                vertical-align: super;
                font-size: 12px;
            }
            &-top {
                position: absolute;
                top: 30px;
                left: 30px;
                opacity: 0.9;
                background: #ff4141;
                color: #fff;
            }
        }
    }
    &__calculation {
        padding: 5px 10px;
        color: black;
        border: 1px solid #696969;
    }
    &__tab {
        display: none;
    }
    &__tab_active {
        display: block;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media all and (min-width: 320px) {
    .b-tab {
        &__tab-element {
            display: block;
            margin: auto;
            float: none;
            width: 80%;
        }
        &__cost {
            min-width: 60px;
            padding: 5px 15px;
        }
        &__wrapper {
            min-height: 50px;
            padding: 5px;
        }
    }
}


/* Extra Small Devices, Phones */

@media all and (min-width: 480px) {
    .b-tab {
        &__tab-element {
            float: left;
            width: 45%;
            margin: 1%;
        }
    }
}


/* Small Devices, Tablets */

@media all and (min-width: 768px) {
    .b-tab {
        &__cost {
            min-width: 100px;
        }
    }
}


/* Medium Devices, Desktops */

@media all and (min-width: 992px) {
    .b-tab {
        &__tab-element {
            width: 31%;
        }
    }
}


/* Large Devices, Wide Screens */

@media all and (min-width: 1200px) {}