// Constants

$maxWidth: 1280px;

// Fonts
$dscFontSize: 16px;
$mblFontSize: 13px;
$headerFontSize: 35px;

// Colors
$buttonColor: #2483b3; 

/*****************/
/* Блок страницы */
/*****************/
.b-pg{
    padding: 0;
	margin: 0 auto;

	max-width: $maxWidth;
	line-height: 25px;

	background-color: #fafafa;

    font-family: "RobotoCondensedRegular";
	font-size: $dscFontSize;
    color: #333;

    &__line{
        width: 100%;  
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }

    &__line-conteiner{
        margin: 0 auto; 
    }
}



.b-header{
    margin: 0 0 37px 0;

    color: #333;
    font-size: $headerFontSize;
    line-height: 40px;
    letter-spacing: -1px;
}

/***************/
/* Общие стили */
/***************/

.submit{
    display: inline-block;
    padding: 0px 50px;
    border: solid 1px $buttonColor;
    height: 38px;
    
    cursor: pointer;
    line-height: 38px;
    vertical-align: top;
    transition: all 0.2s;
    color: $buttonColor;
    border-radius: 4px;
}


.b-button{
    box-sizing: border-box;
    padding: 10px 20px;
    border: solid 1px $buttonColor;

    font-size: 16px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    color: $buttonColor;
    cursor: pointer;

    &:hover {
        background: $buttonColor;
        color: #fff;
    }
}

/* Clearfix block */
.b-clearfix {  
    zoom: 1.0;  

    &:after {  
        content: " ";  
        display: table; 
        clear: both; 
    }  
}






*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}

.auth_buttons,
.main_menu_button{
	border: none;
    background-color: transparent;
    font-size: 26px;
}

.main_menu_button{
	color: #fff;
	padding: 8px 15px 0 ;
}

.header_topline{
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}

.header_topline a{
	color: #fff;
}

.top_header{
	background-color: #4AAAD2;
}

.top_links{
	display: inline-block;
	vertical-align: middle;
}
.top_links a{
	text-decoration: underline;;
}
.top_links a:hover{
	text-decoration: none;
}
.soc_buttons{
	float: right;
}
.soc_buttons > a{
	font-size: 26px;
	margin-left: 8px;
}

.logo{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	font-size: 30px;
	text-align: center;
}

.main_menu{
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
}

.main_menu a{
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
}
.main_menu a:hover,
.main_menu .top_contacts:hover{
	background-color: #2787af;
	border-radius: 5px;
	
}
.main_menu ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style: no
}
.main_menu ul li{
	display: inline-block;
}
.main_menu .top_contacts{
	float: right;
	font-size: 32px;
	padding: 0 15px;
	line-height: 53px;
}
.main_menu .top_contacts i{
	padding-right: 10px;
}

h1{
	font-family: "RobotoCondensedLight";
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.slider_container{
	position: relative;
	text-align: center;
}
.slider_container img{
	max-width: 100%;
}

.prev_button,
.next_button{
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 40%;

	font-size: 26px;
	color: #fff;
}

.prev_button{
	left: 1%;
}
.next_button{
	right: 1%;
}

.slide_item img{
	display: block;
}


/* Section - order*/
section.order{
	background-color: #eee;
	padding: 25px 0;
}
.sell_descr{
	font-size: 22px;
}
.sell_right .button{
	float: right;
}

.button{
	border: medium none;
	display: block;
	background-color: #2BC6A4;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
}
.button:hover{
	background-color: #4feac8;
}

.hidden{
	display: none;
}

.pop-form h3{
	margin: 10px auto;
	text-align: auto;
	font-family: "RobotoCondensedBold";
}

.pop-form input[type=text]{
	display: block;
	width: 90%;
	margin: 0 auto 10px;
	line-height: 24px;
	border-radius: 5px;
	border: #999 3px solid;
}

.pop-form .button{
	margin: auto;
}

.blog-item img{
	max-width: 100%;
	margin-bottom: 20px;
}
.blog-item h3{
	text-transform: uppercase;
	
}

.blog-item p{
	margin-top: 0px;
}

aside.right_aside{
	padding:15px 20px;
	border-radius: 5px;
	background: #ccc;
	margin-top: 30px;
}
aside.right_aside{
	
}