// Fonts
$dscFontSize: 16px;
$mblFontSize: 13px;
$headerFontSize: 35px;
// Colors
$buttonColor: #f1f1f1;
$buttonSize: 16px;
$buttonBorderColor: #116A96;

/*****************/
/* Блок страницы */
/*****************/

body {
    padding: 0;
    margin: 0;

    width:100%;

    background-color: #fafafa;

    font-family: sans-serif !important;
}

.overflowhide {overflow: hidden !important;}

.b-pg {
    margin: auto;
    line-height: 25px;
    // font-family: "RobotoCRobotoRegularondensedRegular";
    font-size: $dscFontSize;
    color: #333;

    &__main{
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    &__line{
        margin: 50px auto;
    }

    &__navbar {
        display: flex;
        width: 100%;
        height: 80px;
        // Позиционирование
        position: fixed;
        top: 0px; // Выравнивание по середине фиксированного блока
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        // Оформление
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        // font-family: sans-serif;
    }
    &__navbar-title {
        position: absolute;
        top: 80px;
        left: 0;
        height: 60px;
        width: 100%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        background: #f9f9f9;
        color: #0077b3;
        margin: auto;
        font-size: 20px;
        // font-family: "RobotoRegular";
    }
}



/***************/
/* Общие стили */
/***************/

.b-header {
    margin: 0 0 37px 0;
    color: #333;
    font-size: $headerFontSize;
    line-height: 40px;
    letter-spacing: 1px;
}

.submit {
    display: inline-block;
    padding: 11px 50px;
    border: solid 1px #116A96;
    cursor: pointer;
    vertical-align: top;
    transition: all 0.2s;
    color: #f1f1f1;
    border-radius: 4px;
    font-family: sans-serif !important;
    font-size: 16px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.b-button {
    box-sizing: border-box;
    padding: 10px 20px;
    border: solid 1px $buttonColor;
    font-size: $buttonSize;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    color: $buttonColor;
    cursor: pointer;
    font-family: sans-serif !important;
}


/* Clearfix block */

.b-clearfix {
    zoom: 1.0;
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
    
    .b-pg,
    .b-slider {
        margin-top: 71px;
        box-sizing: border-box;
        width: 100%;

        .slick-next,
        .slick-prev{
            display: none !important;
        }
    }

    /* Slider*/
    .b-sld-dsc {
        display: none;
    }
    .b-sld-mbl {
        display: block;
        img {
            width: 100%;
            max-height: 30em;
        }
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 550px) {
    .b-pg{
        &__navbar-title {
            display: none;
        }
    }
    .b-slider{
        margin-top: 10px;
    }
}

/* Small Devices, Tablets */
@media all and (min-width: 768px) {

    .b-pg{
        width: 700px;
    }
    .b-slider {
        width: 670px;

        .slick-next,
        .slick-prev{
            display: block !important;
        }
    }
    /* Slider */
    .b-sld-dsc {
        display: block;
        img {
            width: 100%;
            min-height: 18em;
        }
    }
    .b-sld-mbl {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
    
    .b-pg{
        width: 968px;
    }
    .b-slider {
        width: 900px;
    }
}

/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {

    .b-pg{
        width: 1100px;
    }
    .b-slider {
        width: 1000px;
    }
}