// Constants
$maxWidth: 1280px;
// Fonts
$dscFontSize: 16px;
$dscFontSizeHeader: 22px;
$mblFontSize: 13px;
$headerFontSize: 35px;
// Colors
$buttonColor: #01314A;
$buttonBorderColor: #116A96;

/*****************/


/* Блок страницы */


/*****************/

body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    
}

.b-pg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width:100%;
    margin: auto;
    line-height: 25px;
    font-family: "RobotoCRobotoRegularondensedRegular";
    font-size: $dscFontSize;
    color: #333;

    &__line{
        width: 100%
    }
}

.b-header {
    margin: 0 0 37px 0;
    color: #333;
    font-size: $headerFontSize;
    line-height: 40px;
    letter-spacing: -1px;
}


/***************/


/* Общие стили */


/***************/

.submit {
    display: inline-block;
    padding: 0px 50px;
    border: solid 1px $buttonBorderColor;
    height: 38px;
    cursor: pointer;
    line-height: 38px;
    vertical-align: top;
    transition: all 0.2s;
    color: $buttonColor;
    border-radius: 4px;
}

.b-button {
    box-sizing: border-box;
    padding: 10px 20px;
    border: solid 1px $buttonColor;
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    color: $buttonColor;
    cursor: pointer;
    &:hover {
        background: $buttonColor;
        color: #fff;
    }
}


/* Clearfix block */

.b-clearfix {
    zoom: 1.0;
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}