@charset "UTF-8";
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*****************/
/* Блок страницы */
/*****************/
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fafafa;
  font-family: sans-serif !important; }

.overflowhide {
  overflow: hidden !important; }

.b-pg {
  margin: auto;
  line-height: 25px;
  font-size: 16px;
  color: #333; }
  .b-pg__main {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; }
  .b-pg__line {
    margin: 50px auto; }
  .b-pg__navbar {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  .b-pg__navbar-title {
    position: absolute;
    top: 80px;
    left: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background: #f9f9f9;
    color: #0077b3;
    margin: auto;
    font-size: 20px; }

/***************/
/* Общие стили */
/***************/
.b-header {
  margin: 0 0 37px 0;
  color: #333;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 1px; }

.submit {
  display: inline-block;
  padding: 11px 50px !important;
  border: solid 1px #116A96;
  cursor: pointer;
  vertical-align: top;
  transition: all 0.2s;
  color: #f1f1f1;
  border-radius: 4px;
  font-family: sans-serif !important;
  font-size: 16px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15); }

.b-button {
  box-sizing: border-box;
  padding: 10px 20px;
  border: solid 1px #f1f1f1;
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #f1f1f1;
  cursor: pointer;
  font-family: sans-serif !important; }

.b-price {
  display: flex;
  justify-content: center; }
  .b-price__header {
    text-align: center; }
  .b-price__image, .b-price__image-mbl {
    border-radius: 5px; }
    .b-price__image img, .b-price__image-mbl img {
      width: 100%; }

/* Clearfix block */
.b-clearfix {
  zoom: 1.0; }
  .b-clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-pg,
  .b-slider {
    margin-top: 71px;
    box-sizing: border-box;
    width: 100%; }
    .b-pg .slick-next,
    .b-pg .slick-prev,
    .b-slider .slick-next,
    .b-slider .slick-prev {
      display: none !important; }

  /* Slider*/
  .b-sld-dsc {
    display: none; }

  .b-sld-mbl {
    display: block; }
    .b-sld-mbl img {
      width: 100%;
      max-height: 30em; }

  .b-price__image {
    display: none; }
  .b-price__image-mbl {
    display: block; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 550px) {
  .b-pg__navbar-title {
    display: none; }

  .b-slider {
    margin-top: 10px; }

  .b-price__image {
    display: block; }
  .b-price__image-mbl {
    display: none; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-pg {
    width: 700px; }

  .b-slider {
    width: 670px; }
    .b-slider .slick-next,
    .b-slider .slick-prev {
      display: block !important; }

  /* Slider */
  .b-sld-dsc {
    display: block; }
    .b-sld-dsc img {
      width: 100%;
      min-height: 18em; }

  .b-sld-mbl {
    display: none; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-pg {
    width: 968px; }

  .b-slider {
    width: 900px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-pg {
    width: 1100px; }

  .b-slider {
    width: 1000px; } }
.b-call {
  padding: 20px 0px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #90C3D4;
  min-height: 260px; }
  .b-call__title, .b-call__call-form {
    line-height: 60px;
    vertical-align: middle; }
    .b-call__title div, .b-call__call-form div {
      line-height: 30px; }
  .b-call__title, .b-call__phone {
    font-size: 30px; }
  .b-call__get-phone, .b-call__call-submit {
    width: 30%;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px; }
  .b-call__get-phone {
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15); }
  .b-call__call-submit {
    background-color: #0077b3;
    padding: 10px 35px;
    margin: 10px 10px 0;
    color: #f9f9f9; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-call {
    box-sizing: border-box;
    width: 100%; }
    .b-call__get-phone, .b-call__call-submit {
      width: 70%;
      display: block;
      margin: 10px auto; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-call {
    width: 700px;
    min-height: 200px; }
    .b-call__get-phone, .b-call__call-submit {
      width: 30%;
      display: inline-block;
      margin: 10px; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-call {
    width: 968px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-call {
    width: 1100px;
    min-height: 190px; } }
.b-examples {
  box-sizing: border-box;
  text-align: center;
  background-color: #fafafa; }
  .b-examples__title {
    margin: 20px 0 0 0; }
  .b-examples__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .b-examples__blocks {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 350px;
    text-align: left;
    cursor: default; }
  .b-examples__button {
    margin-top: 25px; }

.b-example-block__title {
  padding: 10px;
  color: #333;
  text-decoration: none;
  display: block;
  text-align: center; }
  .b-example-block__title div {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background: #ffd941;
    color: #000; }
.b-example-block__title:hover {
  cursor: auto;
  color: #2387b5;
  text-transform: underline; }
.b-example-block__foto {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  z-index: 4;
  cursor: pointer;
  background-size: cover;
  border-radius: 3px; }
.b-example-block__foto-cell {
  display: table-cell;
  margin: 0 1px;
  height: 280px; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-examples {
    width: 100%; }
    .b-examples__blocks {
      width: 100%;
      margin-bottom: 20px; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .b-examples {
    width: 70%; }
    .b-examples__blocks {
      width: 100%; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-examples {
    width: 700px; }
    .b-examples__content {
      flex-flow: row wrap; }
    .b-examples__blocks {
      width: 47%; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-examples {
    width: 968px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-examples {
    width: 1100px; } }
/********/
/* Menu */
/********/
.b-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #333;
  text-align: center; }
  .b-menu__item {
    position: relative;
    padding: 15px;
    text-align: left;
    /* Choice img from sprite */ }
    .b-menu__item-img {
      position: absolute;
      top: 15%;
      left: 5%;
      width: 70px;
      height: 86px;
      float: left; }
    .b-menu__item__title, .b-menu__item__content {
      display: block;
      margin-left: 100px;
      letter-spacing: -0.3px; }
    .b-menu__item__title {
      font-size: 22px;
      font-weight: 500; }
    .b-menu__item__content {
      color: #2387b5;
      text-decoration: none;
      text-transform: lowercase;
      min-height: 50px;
      font-size: 15px; }
    .b-menu__item__content:hover {
      text-decoration: underline; }
    .b-menu__item__type-of-calculation {
      background: url("img/main/menu/calculations.png") no-repeat;
      background-size: 70px 70px; }
    .b-menu__item__reviews {
      background: url("img/main/menu/review.png") no-repeat;
      background-size: 70px 80px; }
    .b-menu__item__sales {
      background: url("img/main/menu/sales.png") no-repeat;
      background-size: 65px 76px; }
    .b-menu__item__examples {
      background: url("img/main/menu/examples.png") no-repeat;
      background-size: 70px 50px; }
    .b-menu__item__types {
      background: url("img/main/menu/technologies.png") no-repeat;
      background-size: 70px 70px; }
    .b-menu__item__invoices {
      background: url("img/main/menu/invoices.png") no-repeat;
      background-size: 70px 80px; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (max-width: 320px) {
  .b-menu {
    box-sizing: border-box;
    width: 100%; }
    .b-menu__item {
      width: 100%;
      height: 100px; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .b-menu__item {
    width: 40%;
    height: auto; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-menu {
    width: 700px; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-menu {
    width: 968px; }
    .b-menu__item {
      width: 30%;
      height: 150px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-menu {
    width: 1100px; } }
/*****************/
/* Блок страницы */
/*****************/
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fafafa;
  font-family: sans-serif !important; }

.overflowhide {
  overflow: hidden !important; }

.b-pg {
  margin: auto;
  line-height: 25px;
  font-size: 16px;
  color: #333; }
  .b-pg__main {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; }
  .b-pg__line {
    margin: 50px auto; }
  .b-pg__navbar {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  .b-pg__navbar-title {
    position: absolute;
    top: 80px;
    left: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background: #f9f9f9;
    color: #0077b3;
    margin: auto;
    font-size: 20px; }

/***************/
/* Общие стили */
/***************/
.b-header {
  margin: 0 0 37px 0;
  color: #333;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 1px; }

.submit {
  display: inline-block;
  padding: 11px 50px !important;
  border: solid 1px #116A96;
  cursor: pointer;
  vertical-align: top;
  transition: all 0.2s;
  color: #f1f1f1;
  border-radius: 4px;
  font-family: sans-serif !important;
  font-size: 16px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15); }

.b-button {
  box-sizing: border-box;
  padding: 10px 20px;
  border: solid 1px #f1f1f1;
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #f1f1f1;
  cursor: pointer;
  font-family: sans-serif !important; }

.b-price {
  display: flex;
  justify-content: center; }
  .b-price__header {
    text-align: center; }
  .b-price__image, .b-price__image-mbl {
    border-radius: 5px; }
    .b-price__image img, .b-price__image-mbl img {
      width: 100%; }

/* Clearfix block */
.b-clearfix {
  zoom: 1.0; }
  .b-clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-pg,
  .b-slider {
    margin-top: 71px;
    box-sizing: border-box;
    width: 100%; }
    .b-pg .slick-next,
    .b-pg .slick-prev,
    .b-slider .slick-next,
    .b-slider .slick-prev {
      display: none !important; }

  /* Slider*/
  .b-sld-dsc {
    display: none; }

  .b-sld-mbl {
    display: block; }
    .b-sld-mbl img {
      width: 100%;
      max-height: 30em; }

  .b-price__image {
    display: none; }
  .b-price__image-mbl {
    display: block; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 550px) {
  .b-pg__navbar-title {
    display: none; }

  .b-slider {
    margin-top: 10px; }

  .b-price__image {
    display: block; }
  .b-price__image-mbl {
    display: none; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-pg {
    width: 700px; }

  .b-slider {
    width: 670px; }
    .b-slider .slick-next,
    .b-slider .slick-prev {
      display: block !important; }

  /* Slider */
  .b-sld-dsc {
    display: block; }
    .b-sld-dsc img {
      width: 100%;
      min-height: 18em; }

  .b-sld-mbl {
    display: none; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-pg {
    width: 968px; }

  .b-slider {
    width: 900px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-pg {
    width: 1100px; }

  .b-slider {
    width: 1000px; } }
/******************/
/* Блок навигации */
/******************/
.b-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse nowrap;
  color: #0077b3;
  margin: auto;
  font-size: 20px; }
  .b-navbar .fa {
    font-size: 30px;
    color: #0077b3;
    padding: 0 10px;
    cursor: pointer; }
  .b-navbar__logo {
    display: inline-block;
    background: url("img/main/logo.png") no-repeat;
    background-size: 90% 90%;
    width: 170px;
    height: 50px;
    order: 2; }
  .b-navbar__title {
    display: none; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-navbar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px; }
    .b-navbar__text {
      font-size: 13px; }
    .b-navbar__item {
      display: none; }
      .b-navbar__item .b-navbar__info {
        display: none; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 550px) {
  .b-navbar {
    flex-direction: row-reverse;
    align-items: baseline; }
    .b-navbar__title {
      display: flex;
      position: static;
      background: none;
      order: 1;
      width: auto;
      height: auto;
      line-height: initial; }
    .b-navbar__title {
      display: none; }
    .b-navbar .fa {
      display: none;
      color: #0077b3;
      padding: 0;
      padding-left: 20px; }
    .b-navbar__item {
      display: block;
      position: relative; }
      .b-navbar__item .fa-info,
      .b-navbar__item .fa-envelope-o {
        display: inline-block; }
      .b-navbar__item .fa-info:hover .b-navbar__info {
        display: block;
        position: absolute;
        top: 25px;
        background: #fff;
        border-radius: 5px; }
    .b-navbar__call {
      display: none; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-navbar {
    width: 700px;
    font-size: 20px; }
    .b-navbar__logo {
      background-size: 100% 100%;
      width: 180px;
      height: 50px; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-navbar {
    width: 968px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-navbar {
    width: 1100px; } }
.b-block-img {
  text-align: center; }
  .b-block-img__header {
    margin-bottom: 20px; }
  .b-block-img__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 35px auto; }
  .b-block-img__list-item {
    width: 32%;
    margin: 10px 0; }
    .b-block-img__list-item img {
      width: 100%;
      height: 222px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .b-block-img__content-tab {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px auto; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-block-img {
    box-sizing: border-box;
    width: 100%; }
    .b-block-img__content {
      display: none; }
    .b-block-img .slick-prev,
    .b-block-img .slick-next,
    .b-block-img .slick-dots {
      display: none; }
    .b-block-img .b-sld-mbl {
      display: block; }
      .b-block-img .b-sld-mbl .slick-prev,
      .b-block-img .b-sld-mbl .slick-next,
      .b-block-img .b-sld-mbl .slick-dots {
        display: none !important; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-block-img {
    width: 700px; }
    .b-block-img__list-item {
      width: 45%;
      min-width: 300px;
      height: 100%; }
      .b-block-img__list-item img {
        height: 270px; }
    .b-block-img .b-sld-mbl {
      display: none; }
    .b-block-img__content {
      display: flex; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-block-img {
    width: 968px; }
    .b-block-img__blocks {
      width: 47%; }
    .b-block-img__img {
      height: 90%; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-block-img {
    width: 1100px; }
    .b-block-img__list-item {
      width: 32%;
      min-width: 280px; }
      .b-block-img__list-item img {
        height: 220px; } }
/*----- Tabs -----*/
.b-tab {
  /*----- Tab Links -----*/
  /*----- Content of Tabs -----*/ }
  .b-tab__content {
    text-align: center; }
  .b-tab__links li {
    margin: 0px 5px;
    display: inline-block;
    list-style: none; }
  .b-tab__links a {
    padding: 9px 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    text-decoration: none !important; }
  .b-tab__link_active a, .b-tab__links a:hover {
    color: #0077b3 !important;
    cursor: default;
    font-weight: 600; }
  .b-tab__tab-element {
    position: relative;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; }
  .b-tab__detail, .b-tab__img {
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    cursor: pointer;
    border-radius: 3px; }
  .b-tab__detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .b-tab__img {
    position: absolute;
    z-index: 1; }
    .b-tab__img--hidden {
      display: none; }
    .b-tab__img-pongs {
      position: absolute;
      z-index: 2;
      right: 10px;
      top: 10px;
      width: 65px;
      height: 30px;
      background: url("img/main/amount/pongs.jpg") no-repeat;
      background-size: 100% 100%;
      border-radius: 3px; }
      .b-tab__img-pongs--hidden {
        display: none; }
  .b-tab__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .b-tab__cost {
    border-radius: 5px;
    background: #ffd941;
    color: #000;
    border: 1px solid #696969; }
    .b-tab__cost_sale {
      background: #ff4141;
      color: #fff; }
      .b-tab__cost_sale span {
        text-decoration: line-through;
        vertical-align: super;
        font-size: 12px; }
      .b-tab__cost_sale-top {
        position: absolute;
        top: 30px;
        left: 30px;
        opacity: 0.9;
        background: #ff4141;
        color: #fff; }
  .b-tab__break {
    display: inline; }
  .b-tab__calculation {
    padding: 5px 10px;
    color: black;
    border: 1px solid #696969; }
  .b-tab__tab {
    display: none; }
  .b-tab__tab_active {
    display: block; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-tab__tab-element {
    display: block;
    margin: auto;
    float: none;
    width: 80%; }
  .b-tab__cost {
    min-width: 60px;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px; }
    .b-tab__cost_sale {
      padding: 2.8px 10px; }
      .b-tab__cost_sale span {
        font-size: 10px; }
  .b-tab__wrapper {
    min-height: 50px;
    padding: 5px; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .b-tab__tab-element {
    float: left;
    width: 45%;
    margin: 1%; }
  .b-tab__break {
    display: none; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-tab__cost {
    min-width: 80px;
    font-weight: 600;
    font-size: 14px; }
    .b-tab__cost_sale {
      padding: 2.8px 10px; }
      .b-tab__cost_sale span {
        font-size: 10px; }
  .b-tab__calculation {
    padding: 5px; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-tab__tab-element {
    width: 31%; }
  .b-tab__cost {
    min-width: 100px;
    font-size: 15px; }
    .b-tab__cost_sale {
      padding: 2.8px 10px; }
      .b-tab__cost_sale span {
        font-size: 12px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-tab__calculation {
    padding: 5px 10px; } }
.b-review {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*----- Content of Tabs -----*/ }
  .b-review__header {
    margin-bottom: 20px; }
  .b-review__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .b-review__tab-element {
    float: left;
    width: 100%;
    padding: 20px;
    margin: 0 2% 20px 0;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
    vertical-align: top; }
    .b-review__tab-element:last-child {
      margin-right: 0; }
  .b-review__img {
    margin-right: 20px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer; }
  .b-review__title {
    margin-left: 5%; }
  .b-review__button {
    margin-top: 25px; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-review {
    box-sizing: border-box;
    width: 100%; }
    .b-review__tab-element {
      display: block;
      box-sizing: border-box; }
    .b-review__img {
      width: 25%;
      height: 25%;
      float: left; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-review {
    width: 700px; }
    .b-review__content {
      flex-direction: row;
      justify-content: space-between; }
    .b-review__img {
      margin-bottom: 20px;
      width: 150px;
      height: 150px; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-review {
    width: 968px; }
    .b-review__tab-element {
      width: 32%;
      min-height: 490px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-review {
    width: 1100px; } }
/*
    Footer block
*/
.b-footer {
  position: absolute;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: stretch;
  background: #6e767d;
  color: #fff;
  font-weight: 300;
  box-sizing: border-box; }
  .b-footer__contant {
    margin: auto;
    padding: 5%;
    text-align: center; }
    .b-footer__contant div {
      padding-bottom: 10px;
      padding-top: 10px; }
  .b-footer__contact span {
    display: block;
    font-size: 18px;
    letter-spacing: 1.2px; }
  .b-footer__social {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .b-footer__social a {
      color: #fff; }
    .b-footer__social .fa {
      font-size: 27px; }
  .b-footer__adress {
    flex: 3; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-footer {
    width: 100%; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .b-footer__contant {
    width: 700px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-footer__contant {
    width: 968px; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-footer__contant {
    width: 1100px; } }
/*----- fixture -----*/
.b-fixture {
  text-align: center; }
  .b-fixture__fixture-element {
    position: relative;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; }
  .b-fixture__img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 3px; }
  .b-fixture__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .b-fixture__cost {
    min-width: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background: #ffd941;
    color: #000; }
    .b-fixture__cost_sale {
      background: #ff4141;
      color: #fff; }
      .b-fixture__cost_sale span {
        text-decoration: line-through;
        vertical-align: super;
        font-size: 12px; }
      .b-fixture__cost_sale-top {
        position: absolute;
        top: 30px;
        left: 30px;
        opacity: 0.9;
        background: #ff4141;
        color: #fff; }
  .b-fixture__calculation {
    margin: 0px;
    float: right;
    padding: 5px 10px; }
  .b-fixture__fixture {
    display: none; }
  .b-fixture__fixture_active {
    display: block; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-fixture__fixture-element {
    display: block;
    margin: auto;
    float: none;
    width: 80%; }
  .b-fixture__img {
    height: 250px; }
  .b-fixture__wrapper {
    min-height: 70px;
    padding: 5px; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .b-fixture__fixture-element {
    float: left;
    width: 45%;
    margin: 1%; }
  .b-fixture__img {
    height: 250px; } }
/* Small Devices, fixturelets */
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-fixture__fixture-element {
    width: 31%; }
  .b-fixture__img {
    height: 250px; } }
/* Large Devices, Wide Screens */
/*----- Modals -----*/
.b-modal {
  z-index: 1001;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-height: 100%; }
  .b-modal--closed {
    display: none; }
  .b-modal__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: #0077b3;
    cursor: pointer; }
  .b-modal__overlay {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .b-modal__overlay--closed {
      display: none; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-modal {
    width: 100%; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .b-modal {
    width: 400px;
    max-width: 100%; } }
/* Small Devices, modallets */
@media all and (min-width: 768px) {
  .b-modal {
    width: 600px; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.b-mail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  color: #696969; }
  .b-mail__title {
    font-size: 25px;
    margin: 20px; }
  .b-mail__mail-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .b-mail__item {
    display: flex;
    width: 95%;
    min-height: 40px; }
    .b-mail__item label {
      text-align: left;
      padding-left: 15px;
      flex: 1; }
    .b-mail__item textarea,
    .b-mail__item input {
      flex: 1.4;
      min-height: 25px;
      border-radius: 5px;
      padding: 2px 10px;
      font-family: sans-serif !important;
      font-size: 14px;
      padding: 5px 15px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3); }
    .b-mail__item textarea {
      resize: none; }
  .b-mail__submit {
    width: 40%;
    background-color: #0077b3;
    padding: 0 35px;
    margin: 10px 10px 0; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-mail__item {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .b-mail__submit {
    padding: 0 20px; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .b-mail__item {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .b-mail__item label {
      flex: 1;
      padding-left: 20px; }
    .b-mail__item input,
    .b-mail__item textarea {
      flex: 1.4;
      min-height: 20px; }
  .b-mail__submit {
    padding: 0 35px; } }
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style.css.map */
