@charset "UTF-8";
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*****************/
/* Блок страницы */
/*****************/
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa; }

.b-pg {
  width: 100%;
  margin: auto;
  line-height: 25px;
  font-family: "RobotoCRobotoRegularondensedRegular";
  font-size: 16px;
  color: #333; }
  .b-pg__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; }
  .b-pg__line {
    width: 100%; }

.b-header {
  margin: 0 0 37px 0;
  color: #333;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -1px; }

/***************/
/* Общие стили */
/***************/
.submit {
  display: inline-block;
  padding: 0px 50px;
  border: solid 1px #116A96;
  height: 38px;
  cursor: pointer;
  line-height: 38px;
  vertical-align: top;
  transition: all 0.2s;
  color: #01314A;
  border-radius: 4px; }

.b-button {
  box-sizing: border-box;
  padding: 10px 20px;
  border: solid 1px #01314A;
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #01314A;
  cursor: pointer; }
  .b-button:hover {
    background: #01314A;
    color: #fff; }

/* Clearfix block */
.b-clearfix {
  zoom: 1.0; }
  .b-clearfix:after {
    content: " ";
    display: table;
    clear: both; }

.b-amount {
  box-sizing: border-box;
  padding: 38px 0px 42px 0;
  text-align: center; }
  .b-amount__button {
    margin-top: 40px; }

.amount-tab__header-item {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #0077b3;
  z-index: 2;
  transition: all 0.2s;
  position: relative;
  line-height: 38px;
  padding: 0 20px;
  cursor: pointer;
  margin-left: -1px;
  color: #999; }

.b-call {
  padding: 20px 0px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #90C3D4;
  min-height: 260px; }
  .b-call__title, .b-call__call-form {
    line-height: 60px;
    vertical-align: middle; }
    .b-call__title div, .b-call__call-form div {
      line-height: 30px; }
  .b-call__title, .b-call__phone {
    font-size: 30px; }
  .b-call__get-phone, .b-call__call-submit {
    width: 30%;
    display: inline-block; }
  .b-call__get-phone {
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 30px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15); }
  .b-call__call-submit {
    background-color: #0077b3;
    padding: 0 35px;
    margin: 10px 10px 0; }

.b-examples {
  box-sizing: border-box;
  padding: 38px 0px 42px 0;
  text-align: center;
  background-color: #fafafa; }
  .b-examples__title {
    margin: -10px 0 20px 0; }
  .b-examples__blocks {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    min-width: 250px;
    margin: 0 2% 20px 0;
    padding: 20px;
    height: 330px;
    text-align: left;
    cursor: default; }
  .b-examples__blocks:nth-child(2n) {
    margin-right: 0; }
  .b-examples__button {
    margin-top: 25px; }

.b-example-block__title {
  color: #333;
  text-decoration: none;
  display: block;
  text-align: center; }
.b-example-block__title:hover {
  cursor: auto;
  color: #2387b5;
  text-transform: underline; }
.b-example-block__foto {
  position: absolute;
  display: table;
  table-layout: fixed;
  width: 90%;
  z-index: 4;
  cursor: pointer;
  background-size: cover;
  border-radius: 3px; }
.b-example-block__foto-cell {
  display: table-cell;
  margin: 0 1px;
  height: 280px; }

/********/
/* Menu */
/********/
.b-menu {
  color: #333;
  text-align: center;
  margin-bottom: 20px; }
  .b-menu__item {
    position: relative;
    padding: 15px;
    text-align: left;
    min-height: 110px;
    /* Choice img from sprite */ }
    .b-menu__item-img {
      position: absolute;
      top: 15%;
      left: 5%;
      width: 70px;
      height: 86px;
      float: left; }
    .b-menu__item__title, .b-menu__item__content {
      display: block;
      margin-left: 100px;
      letter-spacing: -0.3px; }
    .b-menu__item__title {
      font-size: 22px;
      font-weight: 500; }
    .b-menu__item__content {
      color: #2387b5;
      text-decoration: none;
      text-transform: lowercase;
      min-height: 50px;
      font-size: 15px; }
    .b-menu__item__content:hover {
      text-decoration: underline; }
    .b-menu__item__type-of-calculation {
      background: url("img/main/menu/calculations.png") no-repeat;
      background-size: 70px 70px; }
    .b-menu__item__reviews {
      background: url("img/main/menu/review.png") no-repeat;
      background-size: 70px 80px; }
    .b-menu__item__sales {
      background: url("img/main/menu/sales.png") no-repeat;
      background-size: 65px 76px; }
    .b-menu__item__examples {
      background: url("img/main/menu/examples.png") no-repeat;
      background-size: 70px 50px; }
    .b-menu__item__types {
      background: url("img/main/menu/technologies.png") no-repeat;
      background-size: 70px 70px; }
    .b-menu__item__invoices {
      background: url("img/main/menu/invoices.png") no-repeat;
      background-size: 70px 80px; }

/*****************/
/* Блок страницы */
/*****************/
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa; }

.b-pg {
  width: 100%;
  margin: auto;
  line-height: 25px;
  font-family: "RobotoCRobotoRegularondensedRegular";
  font-size: 16px;
  color: #333; }
  .b-pg__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; }
  .b-pg__line {
    width: 100%; }

.b-header {
  margin: 0 0 37px 0;
  color: #333;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -1px; }

/***************/
/* Общие стили */
/***************/
.submit {
  display: inline-block;
  padding: 0px 50px;
  border: solid 1px #116A96;
  height: 38px;
  cursor: pointer;
  line-height: 38px;
  vertical-align: top;
  transition: all 0.2s;
  color: #01314A;
  border-radius: 4px; }

.b-button {
  box-sizing: border-box;
  padding: 10px 20px;
  border: solid 1px #01314A;
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #01314A;
  cursor: pointer; }
  .b-button:hover {
    background: #01314A;
    color: #fff; }

/* Clearfix block */
.b-clearfix {
  zoom: 1.0; }
  .b-clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/******************/
/* Блок навигации */
/******************/
.b-pg__navbar {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  font-family: "RobotoRegular";
  font-size: 22px; }

.navbar {
  list-style: none;
  vertical-align: middle;
  /********************************/
  /* Блок навигации(правая часть) */
  /********************************/ }
  .navbar__logo {
    display: inline-block;
    background: url("img/main/logo.png") no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 40px; }
  .navbar__icon {
    display: inline-block;
    background: url("img/icon/main_sprite.png") no-repeat; }
  .navbar__list {
    float: left; }
    .navbar__list .fa-bars {
      color: #0077b3; }
  .navbar__list:first-child {
    padding-left: 15px; }
  .navbar__item {
    display: inline-block;
    padding-left: 15px; }
  .navbar__text {
    color: #0077b3;
    margin-bottom: 5px; }
  .navbar__icity {
    background-position: -25px 0px;
    width: 14px;
    height: 16px; }
  .navbar__idown {
    background-position: -11px -7px;
    width: 9px;
    height: 6px; }
  .navbar__imail {
    background-position: -128px -87px;
    width: 26px;
    height: 20px;
    margin: 0 30px 5px 0; }
  .navbar__list_right {
    float: right;
    margin-right: 20px; }
  .navbar__icon-phone {
    width: 12px;
    height: 17px;
    background-position: -61px -23px; }
  .navbar__icon-clock {
    width: 16px;
    height: 16px;
    background-position: -125px -51px; }

.b-block-img {
  text-align: center; }
  .b-block-img__content {
    margin: 0 auto;
    text-align: center; }
  .b-block-img__header {
    margin-bottom: 20px; }
  .b-block-img__list-item {
    /*  */
    float: left;
    width: 32%;
    min-width: 250px;
    margin: 0 2% 20px 0;
    vertical-align: top; }
    .b-block-img__list-item img {
      width: 100%;
      height: 222px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .b-block-img__list-item:nth-child(3n) {
    margin-right: 0; }
  .b-block-img__button {
    margin-top: 40px; }

/*----- Tabs -----*/
.b-tab {
  /*----- Tab Links -----*/
  /*----- Content of Tabs -----*/ }
  .b-tab__links li {
    margin: 0px 5px;
    display: inline-block;
    list-style: none; }
  .b-tab__links a {
    padding: 9px 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    text-decoration: none !important; }
  .b-tab__link_active a, .b-tab__links a:hover {
    color: #0077b3 !important;
    cursor: default;
    font-weight: 600; }
  .b-tab__tab-element {
    position: relative;
    float: left;
    width: 31%;
    margin-right: 2%;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2); }
    .b-tab__tab-element:last-child {
      margin-right: auto; }
  .b-tab__img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 3px; }
  .b-tab__title {
    margin-left: 5%; }
  .b-tab__wrapper {
    margin: 10px; }
  .b-tab__cost {
    float: left;
    padding: 5px 15px;
    min-width: 100px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background: #ffd941;
    color: #000; }
    .b-tab__cost_sale {
      background: #ff4141;
      color: #fff; }
      .b-tab__cost_sale span {
        text-decoration: line-through;
        vertical-align: super;
        font-size: 12px; }
      .b-tab__cost_sale-top {
        position: absolute;
        top: 30px;
        left: 30px;
        opacity: 0.9;
        background: #ff4141;
        color: #fff; }
  .b-tab__calculation {
    margin: 0px;
    float: right;
    padding: 5px 10px; }
  .b-tab__tab {
    margin: 0px;
    display: none; }
  .b-tab__tab_active {
    display: block; }

.b-fixtures {
  box-sizing: border-box;
  padding: 38px 0px 42px 0;
  text-align: center;
  /*----- Content of Tabs -----*/ }
  .b-fixtures__header {
    margin-bottom: 20px; }
  .b-fixtures__content-title {
    margin: 1% 10%;
    text-align: center;
    font-size: 16px; }
  .b-fixtures__tab-element {
    position: relative;
    display: inline-block;
    width: 26%;
    min-width: 280px;
    height: 200px;
    margin: 10px;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2); }
    .b-fixtures__tab-element:last-child {
      margin-right: auto; }
  .b-fixtures__img {
    width: 60%;
    height: 95%;
    border-radius: 3px;
    cursor: pointer;
    float: left; }
  .b-fixtures__title {
    position: absolute;
    top: 12%;
    right: 12%;
    width: 40%;
    margin-left: 5%;
    text-align: right; }
  .b-fixtures__cost {
    position: absolute;
    bottom: 12%;
    right: 12%;
    display: inline-block;
    width: 20%;
    padding-top: 5px;
    border: 1px solid #ffd941;
    border-radius: 5px; }
    .b-fixtures__cost:hover {
      background: #ffd941; }
  .b-fixtures__button {
    margin-top: 25px; }

.b-review {
  box-sizing: border-box;
  padding: 38px 0px 42px 0;
  text-align: center;
  /*----- Content of Tabs -----*/ }
  .b-review__header {
    margin-bottom: 20px; }
  .b-review__content-title {
    margin: 1% 10%;
    text-align: left;
    font-size: 16px; }
  .b-review__tab-element {
    float: left;
    width: 100%;
    min-width: 250px;
    min-height: 150px;
    padding: 20px;
    margin: 0 2% 20px 0;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
    vertical-align: top; }
    .b-review__tab-element:last-child {
      margin-right: 0; }
  .b-review__img {
    margin-right: 20px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer; }
  .b-review__title {
    margin-left: 5%; }
  .b-review__button {
    margin-top: 25px; }

/*
    Footer block
*/
.b-footer {
  position: absolute;
  left: 0;
  width: 100%;
  background: #6e767d;
  color: #fff;
  font-weight: 300; }
  .b-footer__contant {
    display: block;
    margin: auto;
    min-height: 200px;
    padding: 5%; }
  .b-footer__contact span {
    font-size: 25px;
    display: block; }
  .b-footer__social {
    float: left;
    margin-bottom: 30px; }
    .b-footer__social span {
      font-size: 20px;
      display: block;
      float: left;
      margin: 4px 50px 0 0; }

/* 
    Base block for social icon in footer block 
    TODO may be need unpdate to mixin
*/
.b-social__vk, .b-social__instagram, .b-social__facebook, .b-social__twitter {
  display: inline-block;
  background: url(img/icon/socials_sprite.png) no-repeat;
  width: 25px;
  height: 25px;
  margin-left: 5px; }

.b-social {
  display: inline;
  margin-left: 20px; }
  .b-social__vk {
    background-position: -26px 0; }
  .b-social__instagram {
    background-position: -130px 0; }
  .b-social__facebook {
    background-position: -52px 0; }
  .b-social__twitter {
    background-position: -78px 0; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media all and (min-width: 320px) {
  .b-pg__navbar {
    width: 100%;
    padding-left: -15px;
    padding-right: -15px; }

  .b-call__get-phone, .b-call__call-submit {
    width: 70%;
    display: block;
    margin: 10px auto; }

  /* Slider*/
  .b-sld-dsc {
    display: none; }

  .b-sld-mbl {
    display: block;
    margin-top: 75px; }
    .b-sld-mbl img {
      width: 100%;
      max-height: 30em; }

  .b-block-img .slick-prev,
  .b-block-img .slick-next,
  .b-block-img .slick-dots,
  .b-block-img .b-block-img__list-photos {
    display: none; }
  .b-block-img .b-sld-mbl {
    display: block; }
    .b-block-img .b-sld-mbl .slick-prev,
    .b-block-img .b-sld-mbl .slick-next,
    .b-block-img .b-sld-mbl .slick-dots {
      display: none !important; }

  .b-review {
    width: 100%; }
    .b-review__tab-element {
      display: block;
      width: 100%; }
    .b-review__img {
      width: 25%;
      height: 25%;
      float: left; }

  .b-footer__contant {
    width: 100%; } }
/* Extra Small Devices, Phones */
@media all and (min-width: 480px) {
  .navbar__text {
    font-size: 13px; }
  .navbar__list_right, .navbar__item {
    display: none; }
  .navbar__item:first-child {
    display: block; }

  .navbar__text {
    font-size: 16px; }

  .b-block-img__tab-element {
    width: 45%;
    min-width: 300px;
    height: 100%; } }
/* Small Devices, Tablets */
@media all and (min-width: 768px) {
  .navbar__item:last-child {
    display: inline-block; }

  .b-examples__blocks {
    width: 49% !important;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2); }

  /* Slider */
  .b-sld-dsc {
    display: block;
    margin-top: 75px; }
    .b-sld-dsc img {
      width: 100%;
      min-height: 18em; }

  .b-sld-mbl {
    display: none; }

  .b-call {
    min-height: 200px; }
    .b-call__get-phone, .b-call__call-submit {
      width: 30%;
      display: inline-block;
      margin: 10px; }

  .b-amount__list-item {
    float: left;
    width: 47%; }
  .b-amount__list-item:nth-child(2n) {
    margin-right: 0; }

  .b-block-img .b-block-img__list-photos {
    display: block; }
  .b-block-img .b-sld-mbl {
    display: none; } }
/* Medium Devices, Desktops */
@media all and (min-width: 992px) {
  .b-pg {
    width: 968px; }

  .b-menu {
    border-bottom: solid 1px #f0f0f0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin-bottom: auto; }

  .b-block-img__blocks {
    width: 47%; }

  .b-review__tab-element {
    width: 32%;
    min-height: 490px; }
  .b-review__img {
    width: 40%;
    height: 40%;
    margin-bottom: 20px; }

  .b-block-img__tab-element {
    width: 32%;
    min-width: 280px;
    height: 200px; }
  .b-block-img__img {
    height: 90%; }

  .b-footer__contant {
    width: 968px; }
  .b-footer__left {
    margin-right: 10px;
    float: left; }
  .b-footer__right {
    margin-left: 10px;
    float: right; } }
/* Large Devices, Wide Screens */
@media all and (min-width: 1200px) {
  .b-pg,
  .b-footer__contant,
  .b-call,
  .b-examples,
  .b-amount,
  .b-block-img,
  .b-review {
    width: 1100px; }

  .b-call {
    min-height: 190px; }

  .b-menu__item {
    padding: 30px 15px;
    height: 150px; } }

/*# sourceMappingURL=style.css.map */
