/*****************/
/* Блок страницы */
/*****************/
.b-page{
    background-color: #fafafa;
    
    padding: 0;
    font-family: 'Neucha', sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 25px;
}

.b-page__line{
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.b-page__line-conteiner{
    min-width: 980px;
    max-width: 1350px;
}

.header{
    color: #333;
    font-size: 35px;
    line-height: 40px;
}

/***************/
/* Общие стили */
/***************/

.submit{
    height: 38px;
    padding: 0px 50px;
    border: solid 1px #2483b3;
    cursor: pointer;
    line-height: 38px;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.4s;
    transition: all 0.2s;
    color: #2483b3;
    border-radius: 4px;
}



/* Clearfix block */

.b-clearfix:before,  
.b-clearfix:after {  
    content: " ";  
    display: table;  
}  
.b-clearfix:after {  
    clear: both;  
}  
.b-clearfix {  
    zoom: 1.0;  
}


/*
Попытка сделать по БЭМу
Стили блоков вынесены в папку blocks.

Если у блочного элемента ширина фиксированна, 
то ему можно дать просто margin слева и справа 
чтобы отцентровать его
*/