/*----- Tabs -----*/
.b-tab {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    .b-tab__links li {
        margin:0px 5px;
        display: inline-block;
        list-style:none;
    }
 
        .b-tab__links a {
            padding:9px 15px;
            display:inline-block;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            text-decoration: none !important;
        }

 
    .b-tab__link_active a,
    .b-tab__links a:hover{
        color: #0077b3 !important;
        cursor: default;
        font-weight: 600;
    }
 
    /*----- Content of Tabs -----*/
    .b-tab__content {
        padding:15px;
    }

    .b-tab__tab-element{
        display: inline-block;
        width: 25%;
        height: 310px;
        margin-right: 2%;
        border-radius:5px;
        
        background:#fff;
        min-width: 300px;

        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        -webkit-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    }

    .b-tab__tab-element:last-child{
        margin-right: auto;
    }

    .b-tab__img{
        width: 90%;
        height: 75%;
        margin: 5%;
        cursor: pointer;
        border-radius: 3px;
    }
    
    .b-tab__title{
        margin-left: 5%;
    }
 
        .b-tab__tab {
            display:none;
        }
 
        .b-tab__tab_active {
            display:block;
        }