.b-examples{
    padding: 38px 0px 42px 0;
    text-align: center;
    background-color: #fafafa;
}

.b-examples__header{
    color: #333;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 37px 0;
    letter-spacing: -1px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.b-examples__title{
    margin: -10px 0 20px 0;
}

.b-examples__blocks{
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 55px 0;
    padding-left: 10px;

    width: 42%;
    height: 280px;
    background: #fff;
    text-align: left;
    
    cursor: default;
    
    box-shadow: 0px 1px 2px #ccc;
    -moz-box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
}

.b-example-block__title,
.b-example-block__amount{
    color: #333;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-align: left;
}

.b-example-block__title:hover{
    cursor: auto;
    color: #2387b5;
    text-transform: underline;
}

.b-example-block__foto{
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 370px;
    height: 264px;
    top: 6px;
    right: 10px;
    z-index: 4;
    cursor: pointer;
    background-size: cover;
}

.b-example-block__foto-cell{
    display: table-cell;
    margin: 0 1px;
}