.b-examples{
    padding: 38px 0px 42px 0;
    text-align: center;
    background-color: #fafafa;
}

.b-examples__header{
    margin: 0 0 37px 0;
    letter-spacing: -1px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.b-examples__title{
    margin: -10px 0 20px 0;
}

.b-examples__blocks{
    overflow: hidden;
    position: relative;
    display: inline-block;

    padding: 20px;
    margin:5px;
    width: 460px;
    height: 330px;
    background: #fff;
    text-align: left;
    border-radius: 5px;
    
    cursor: default;
    
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
}

.b-example-block__title{
    color: #333;
    text-decoration: none;
    display: block;
    text-align: center;
}

.b-example-block__title:hover{
    cursor: auto;
    color: #2387b5;
    text-transform: underline;
}

.b-example-block__foto{
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 90%;

    z-index: 4;
    cursor: pointer;
    background-size: cover;
    border-radius: 3px;
}

.b-example-block__foto-cell{
    display: table-cell;
    margin: 0 1px;
    height: 264px;
}