b-page{
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  z-index: 20px;
}

.navbar__list{
  list-style: none;
}

.navbar__item{
  float: left;
}
.navbar__item-link{
  display: block;
}

/*
float

Если у блочного элемента ширина фиксированна, 
то ему можно дать просто margin слева и справа 
чтобы отцентровать его
*/