/*body{
  line-height: 25px;
  font-family: 'Open Sans',sans-serif;
}

.navbar-custom{
	background: #fff;
  line-height: 40px;
  vertical-align: middle;
}
.navbar-custom ul li a{
	color: #0077b3 !important;
  font-size: 18px;
}
/*.navbar-my ul li a:hover{
	background: #333;
}
.navbar-my .navbar-brand{
	color: #fff;
}*/
/*
.navbar-toggle{
  float:left;
}*/